---
layout: default_newtemplate
---

<section>
<div id="page" class="clearfix">
  <div class="container">
    {% include index/about.html %} 
    
    {% assign title01 = site.data.generalinfo.horarios_titulo_pagina  %}
    {% assign title02 = site.data.generalinfo.horarios_subtitulo_pagina %}
    {% assign title_icono = "icon-clock" %}
    {% assign title_tooltip = "Horarios" %}

    {% assign link01_ref ="empresas.html" %}
    {% assign link01_icono = "icon-building" %}
    {% assign link01_nombre = "Empresas" %}

    {% assign link02_ref ="index.html" %}
    {% assign link02_icono = "icon-home" %}
    {% assign link02_nombre = "Inicio" %}

    {% assign link03_ref ="platicas.html" %}
    {% assign link03_icono = "icon-users2" %}
    {% assign link03_nombre = "pláticas" %}

    {% assign link04_ref ="stands.html" %}
    {% assign link04_icono = "icon-map-marker" %}
    {% assign link04_nombre = "Stands" %}
    
    <div class="row no-gutters">
      <div class="col-xl-8 pr-xl-2">

        <div class="card mb-3 mb-lg-0">
          <div class="card-header bg-light">
            <h5 class="mb-0">Programa de Actividades</h5>
          </div>
          {% for fecha in site.data.actividades.fechas  %}
          <div class="container">
            <div class="row aos-init aos-animate ">
              <div class="col-12" data-aos="fade-left">
                <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
                  {{ fecha.dianombre }}, {{ fecha.dia }} de {{ fecha.mes }} <br /> {{fecha.lugar}}
                </h4>
                
                <ul class="list-timeline list-timeline-primary">
                  {% assign filtered = site.data.actividades.actividades | where: "dia", fecha.dia  %}
                  {% assign filtered = filtered | where: "place_index", fecha.place_index  %}
                  {% for actividad in filtered %}
                  <li class="list-timeline-item p-0 pb-3 pb-lg-12 d-flex flex-wrap flex-column">
                      <p class="my-0 text-dark flex-fw text-sm"><span class="text-inverse op-8"><strong>{{ actividad.hora }} - {{ actividad.shortName }}</strong></span> </p>
                      <p class="mb-1">{{ actividad.abstract }}</p>
                      {% if actividad.lugar != 'a' %}
                      <p class="text-1000 mb-0">Lugar: {{ actividad.lugar }}</p>
                      {% endif%}
                      Recinto: {{ actividad.recinto }}
                  </li>
                  {% endfor %}
                </ul>
                <br />
              </div>
            </div>
          </div>
          {% endfor %}

        </div> 
      </div>
      {% include izquierda.html %}
    </div>
  </div>
</div>
</section>
    