<section class="last-section">
  <footer id="footer" class="dark">
    <div class="container">
        <div class="footer-widgets-wrap clearfix">
            <div class="col_two_third">
                <div class="widget clearfix">
                  <div class="col_one_third">
                        <img src="images/logofooter.png" alt="" class="footer-logo">  
                        <div style="padding-left:40px">
                            <a href="http://www.ingenieria.unam.mx/nuestra_facultad/contacto.php" class="btn btn-local">Contacto</a> 
                        </div>  
                    </div>
                    <div class="col_two_third col_last">
                        <address class="nobottommargin">
                            <a href="http://www.unam.mx/" target="_blank"><strong>Universidad Nacional Autónoma de México</strong></a><br>
                            Facultad de Ingeniería, Av. Universidad 3000, Ciudad Universitaria, Coyoacán, Cd. Mx., CP 04510<br>
                        </address>                            
                        <strong>Teléfono:</strong>&nbsp;56 22 08 66<br>
                        <strong>Fax:</strong>&nbsp;56 16 28 90<br>
                        <strong>Correo:</strong>&nbsp;fainge@unam.mx<br>                                
                        <a href="http://www.facebook.com/gacetadigitalfi.unam" class="social-icon si-small si-rounded topmargin-sm si-facebook" data-toggle="tooltip" data-placement="top" title="" target="_blank" data-original-title="Facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>
                        <a href="http://mobile.twitter.com/FIUNAM_MX" class="social-icon si-small si-rounded topmargin-sm si-twitter" data-toggle="tooltip" data-placement="top" title="" target="_blank" data-original-title="Twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>
                        <a href="http://www.instagram.com/fiunam_mx/" class="social-icon si-small si-rounded topmargin-sm si-instagram" data-toggle="tooltip" data-placement="top" title="" target="_blank" data-original-title="Instagram">
                            <i class="icon-instagram"></i>
                            <i class="icon-instagram"></i>
                        </a>
                        <a href="http://www.youtube.com/user/TVIngenieria" class="social-icon si-small si-rounded topmargin-sm si-youtube" data-toggle="tooltip" data-placement="top" title="" target="_blank" data-original-title="Youtube">
                            <i class="icon-youtube"></i>
                            <i class="icon-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col_one_third col_last">
              <div class="widget clearfix">
                    <h4>Sitios de interés</h4>
                    <div class="widget_links">
                        <ul>
                            <li><a href="http://www.anfei.mx/" target="_blank">ANFEI</a></li>
                            <li><a href="http://cacei.org.mx/" target="_blank">CACEI</a></li>
                            <li><a href="http://www.alianzafiidem.org/" target="_blank">Alianza FIDEM</a></li>
                            <li><a href="http://ingenet.com.mx/" target="_blank">INGENET</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!-- .footer-widgets-wrap end -->
    </div>
    <div id="copyrights2">
        <div class="container clearfix">
          <div class="nobottommargin">
                <div class="copyrights2">
                  Todos los derechos reservados © 1999 - 2020 /
                    <a href="http://www.ingenieria.unam.mx/">Facultad de Ingeniería</a>/<a href="http://www.unam.mx/">UNAM</a>/
                </div>
                <div class="copyrights3">
                    <p>Esta es la página electrónica institucional de la Facultad de Ingeniería de la UNAM. Puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica. Contiene enlaces con diversos portales de entidades y organizaciones académicas, estudiantiles y profesionales, así como con páginas personales de profesores e investigadores cuyos contenidos son de la responsabilidad exclusiva de sus titulares.</p>
                </div>                    
                <div>
                    <p class="copyrights3">Última actualización 31/01/2027 Versión 0.9&nbsp;&nbsp;</p>
                </div>
            </div>  
        </div>
    </div><!-- #copyrights end -->
  </footer><!-- #footer end -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center active">
    <i class="bi bi-arrow-up-short"></i>
  </a>
</section>

<!-- Vendor JS Files -->
<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->


	<!--
	<script type="text/javascript" src="js/plugins.js"></script>
	-->

	
	


<script src="assets/js/main.js"></script>
