  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <span>&nbsp;</span>
            <img class="divcenter3" src="data:image/png;base64,{{ site.data.images.ingenieria }}" alt="Facultad de Ingenieria" title="Facultad de Ingenieria">
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="index.html"   >Home</a></li>
                <li><a class="nav-link scrollto" href="empresas.html">Agrupaciones Estudiantiles</a></li>
                <!-- <li><a class="nav-link scrollto" href="platicas.html">Platicas</a></li> -->
                <li><a class="nav-link scrollto" href="stands.html"  >Lista</a></li>
                <!-- <li><a class="nav-link scrollto" href="horarios.html">Horarios</a></li> -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Contacto
                    </a>
                    <ul class="dropdown-menu-left" aria-labelledby="navbarScrollingDropdown">
                        <div class="container-fluid">
                            <a class="navbar-brand">Ing. Felipe de Jesús Cadena Peralta</a>
                            <form class="d-flex row">
                                <label class="form-control col-12">
                                    <a href="tel:+5548865658">55 4886 5658<i class="icon-phone icon"></i></a>
                                </label>
                                <label class="form-control col-12">
                                    <a href="mailto:bolsa_fi@unam.mx">felipedejesuscdn@gmail.com<i class="icon-mail icon"></i> </a>
                                </label>
                                <label class="form-control col-12">
                                    <a href="mailto:felipedejesuscdn@gmail.com">bolsa_fi@unam.mx<i class="icon-mail icon"></i></a>
                                </label>
                                <label class="form-control col-12">
                                    <a href="https://www.facebook.com/bolsatrabajofi" target="_blank">Síguenos<i class="icon-facebook icon"></i></a>
                                </label>
                            </form>
                          </div>
                    </ul>
                </li>
                    
                <li><a href="http://www.ingenieria.unam.mx/index.php" target="_blank">Nuestra Facultad</a></li>
                <li><a href="http://www.administracion.ingenieria.unam.mx/CLS/protocolos_emergencia.html">Protocolos de Emergencia</a></li>
                
                
            </ul>
            <i class="bi mobile-nav-toggle bi-list"></i>
        </nav><!-- .navbar -->
    </div>
</header><!-- End Header -->

<style>
    .icon{
        font-size: 24px !important;
        font-weight: bold;
    }
</style>