<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="author" content="Facultad de Ingeniería">
<!-- Etiquetas meta requeridas -->
<meta name="description" content="Página de la Feria del empleo de la Facultad de Ingeniería">
<meta name="keywords" content="FI,Feria del Empleo,Facultad de Ingeniería,Facultad de Ingenieria,UNAM,Universidad Nacional Autónoma de México">

<title>Agrupaciones Estudiantiles</title>
<link rel="icon" href="images/favicon.ico">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<!-- Vendor CSS Files -->
<link href="assets/vendor/aos/aos.css"                         rel="stylesheet">
<link href="assets/vendor/bootstrap/css/bootstrap.min.css"     rel="stylesheet">
<link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="assets/vendor/glightbox/css/glightbox.min.css"     rel="stylesheet">
<link href="assets/vendor/remixicon/remixicon.css"             rel="stylesheet">
<link href="assets/vendor/swiper/swiper-bundle.min.css"        rel="stylesheet">
<link href="assets/css/style.css"         rel="stylesheet" type="text/css">
<link href="assets/css/stylebef.css"      rel="stylesheet" type="text/css">
<link href="assets/css/custombef.css"     rel="stylesheet" type="text/css">
<link href="assets/css/font-icons.css"           rel="stylesheet" type="text/css">
<link href="assets/css/dark.css"                 rel="stylesheet" type="text/css">
<link href="assets/css/responsivebef.css" rel="stylesheet" type="text/css">

<!-- <script type="text/javascript" src="js/jquery.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>