<section>
  
  <div class="row aos-init aos-animate text-center">

    {% for company in site.data.companies.companies %}
    <div class="col-xs-2 col-md-2" data-aos="fade-up">
      <div class="card rounded-4 mb-4 shadow border-0" style="height: 50px;">
        <div class="card-body card-marcas imggrow"  >
          <a href="{{ company.siteurl }}" target="_blank" >
            {% if company.logoCard != null %}
            <img src="{{ company.logourl }}" alt="{{company.name}}" data-bs-toggle="tooltip" style="vertical-align: middle" height="{{company.logoCard}}" title="{{ company.teaser }}">
            {% else %}
            <img src="{{ company.logourl }}" alt="{{company.name}}" data-bs-toggle="tooltip" style="vertical-align: middle" height="40px" title="{{ company.teaser }}">
            {% endif %}
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
    
  </div>
  
</section>
