<section class="aos-init aos-animate">
  <div class="row">
    
      <div class="col-sm-4" data-aos="fade-up">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="text-primary">
              <i class="icon-clock"></i>
              <strong>{{ site.data.generalinfo.horarios_titulo }}</strong>
            </h4>
          </div>
          <div class="card-body">
            {% for fecha in site.data.actividades.fechas  %}
            <h4 class="mt-0 mb-3 text-dark op-8 font-weight-bold">
              {{ fecha.dianombre }}, {{ fecha.dia }} de {{ fecha.mes }} <br /> {{fecha.lugar}}
            </h4>
            
            <ul class="list-timeline list-timeline-primary">
              {% assign filtered = site.data.actividades.actividades | where: "dia", fecha.dia  %}
              {% assign filtered = filtered | where: "place_index", fecha.place_index  %}
              {% for actividad in filtered %}
              <li class="list-timeline-item p-0 pb-3 pb-lg-12 d-flex flex-wrap flex-column">
                  <p class="my-0 text-dark flex-fw text-sm"><span class="text-inverse op-8"><strong>{{ actividad.hora }}</strong></span> - {{ actividad.shortName }}</p>
              </li>
              {% endfor %}
            </ul>
            <br />
            {% endfor %}
            <!-- <p>{{ site.data.generalinfo.main-will-be-opened }}</p>
            <p>{{ site.data.generalinfo.horarios_noticia02 }}</p> -->
            <p>
              <a href="horarios.html" class="btn btn-outline-primary w-100" role="button">
              {{ site.data.generalinfo.horarios_texto_boton }}
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4" data-aos="fade-up">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4  class="text-primary">
              <i class="icon-users2"></i>
              <strong>{{ site.data.generalinfo.platicas_titulo }}</strong>
            </h4>
          </div>
          <div class="card-body">
            <p>{{ site.data.generalinfo.platicas_noticia01 }}</p>
            <p>{{ site.data.generalinfo.platicas_noticia02 }}</p>
            <p>
              <a href="platicas.html" class="btn btn-outline-primary w-100" role="button">
                {{ site.data.generalinfo.platicas_texto_boton }}
              </a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-4" data-aos="fade-up">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="text-primary">
              <i class="icon-map"></i>
              <strong>{{ site.data.generalinfo.stands_titulo }}</strong>
            </h4>
          </div>
          <div class="card-body">
            <p>{{ site.data.generalinfo.stands_noticia01 }}</p>
            <p>{{ site.data.generalinfo.stands_noticia02 }}</p>
            <p>
              <a href="stands.html"  class="btn btn-outline-primary w-100" role="button">
                {{ site.data.generalinfo.stands_texto_boton }}
              </a>
            </p>
          </div>
        </div>
      </div>

  </div>
  
</section>